/* Category Section */
.categories-page .category-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  gap: 20px;
}

/* Add Category */
.categories-page .add-category {
  background: white;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  max-width: 70%;
  flex: 1;
  margin: auto;
  
  
}

.categories-page .add-category h2 {
  margin-bottom: 50px;
  color: black;
  font-size: 22px;
  font-weight: bold;
}

.categories-page .add-category input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 16px;
  width: 250px;
  margin-left: 15px !important;
}

.categories-page .confirm-btn {
  background: #6a5acd;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  
}

.categories-page .confirm-btn:hover {
  background: #5a49b3;
}

/* Category List */
.categories-page .category-list {
  background: white;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  width: 100%;
  color: black;
  overflow-y: scroll;
  height: 800px;
}

.categories-page .category-list h2 {
  margin-bottom: 20px;
  color: black;
  font-size: 22px;
  font-weight: bold;
}

.categories-page .category-list table {
  width: 100%;
  border-collapse: collapse;
  
}

.categories-page .category-list th,
.categories-page .category-list td {
  padding: 12px;
  border: 1px solid #ddd;
  text-align: left;
}

.categories-page .category-list th {
  background: #6a5acd;
  color: white;
  font-size: 16px;
}

.categories-page .category-list td {
  font-size: 14px;
  color: black;
}

/* Edit Popup */
.categories-page .edit-popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.categories-page .edit-popup {
  background: white;
  padding: 30px;
  border-radius: 15px;
  max-width: 500px;
  width: 90%;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
  animation: fadeIn 0.2s ease-in-out;
}

.categories-page .edit-popup-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.categories-page .discard-btn,
.categories-page .confirm-btn {
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 14px;
  cursor: pointer;
}

.categories-page .discard-btn {
  background: #ccc;
  color: black;
  margin-top: 100px;
}

.categories-page .discard-btn:hover {
  background: #bbb;
}
.categories-action-btn {
    background: none !important;
    border: none;
    color: red;
    font-size: 14px;
    cursor: pointer;
    padding: 4px;
    width: 50px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
