/* src/styles/ForgotPassword.css */
  .forgot-password-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;  /* Ensures it takes up the full viewport height */
    width: 100vw;   /* Ensures it takes up the full viewport width */
  }
  
  .forgot-password-box {
    background: white;
    padding: 50px;
    border-radius: 20px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 500px;  /* Adjusted width */
    height: 350px;
    
  }
  
  h2 {
    margin-bottom: 20px;
  }
  
  p {
    color: #555;
    margin: 20px
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  input {
    padding: 10px;
    margin: 5px 0;
    border-radius: 10px;
    border: 1px solid #ccc;
  }
  
  button {
    background: linear-gradient(to right, #A45EE5, #68B1F6);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    width: 200px;
    margin: auto;
  }
  
  button:hover {
    background: linear-gradient(to right, #9243D7, #57A0E0);
  }
  
  .back-to-login {
    background: none !important;
    border: none;
    color: #555;
    font-size: 14px;
    margin-top: 15px;
    cursor: pointer;
  }
  
  .back-to-login:hover {
    text-decoration: underline;
  }
  
  .message {
    color: #ff6f61;
    margin-top: 10px;
  }
  