/* src/styles/ResetPassword.css */

.reset-password-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
  width: 100vw; /* Full viewport width */
}

.reset-password-box {
  background: white;
  padding: 50px;
  border-radius: 20px;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 500px; /* Box width */
}

h2 {
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.reset-password-input {
  padding: 10px;
  margin: 5px 0;
  border-radius: 10px;
  border: 1px solid #ccc;
}

.reset-password-button {
  background: linear-gradient(to right, #a45ee5, #68b1f6);
  color: white;
  padding: 10px;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  width: 200px;
  margin: auto;
}

.reset-password-button:hover {
  background: linear-gradient(to right, #9243d7, #57a0e0);
}

.reset-password-back-to-login {
  background: none !important;
  border: none;
  color: #555;
  font-size: 14px;
  margin-top: 15px;
  cursor: pointer;
}

.reset-password-back-to-login:hover {
  text-decoration: underline;
}

.reset-password-message {
  margin-top: 10px;
}

.reset-password-message.success {
  color: green;
}

.reset-password-message.error {
  color: red;
}
